<div class="row">
  <div class="col-md-8">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Notas arhivadas</mat-card-title>
        <mat-card-subtitle>Lista de notas archivadas</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <div mat-subheader>unarchive</div>
          @for (note of notes; track note) {
          <mat-list-item>
            <div matListItemTitle>{{note.title}}</div>
            <div matListItemLine>{{note.description}}</div>
            <button class="icon-class" mat-icon-button (click)="archivedNote(note)">
              <mat-icon class="mat-24">unarchive</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          }

        </mat-list>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="/notes">Notas</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>